# Discord. На Bothost BOT_TOKEN тоже поддерживается автоматически.
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

# Автоматический вывод в Discord
LIVE_CHANNEL_ID=1548325425678262313
MATCH_RESULTS_CHANNEL_ID=1549060892233040013

# SQLite. Для Bothost оставлять именно /app/data.
DATABASE_PATH=/app/data/stats.db

# Steam enrichment (не обязателен для основной статистики)
STEAM_API_KEY=
WARDOGS_APP_ID=1867240

# Частота опроса RCON
POLL_INTERVAL_MS=4000

SERVER_1_NAME=ZARUBA 1
SERVER_1_RCON_HOST=
SERVER_1_RCON_PORT=7776
SERVER_1_RCON_PASSWORD=
SERVER_1_RCON_TLS=false

SERVER_2_NAME=ZARUBA 2
SERVER_2_RCON_HOST=
SERVER_2_RCON_PORT=7776
SERVER_2_RCON_PASSWORD=
SERVER_2_RCON_TLS=false

SERVER_3_NAME=ZARUBA 3
SERVER_3_RCON_HOST=
SERVER_3_RCON_PORT=7776
SERVER_3_RCON_PASSWORD=
SERVER_3_RCON_TLS=false

SERVER_4_NAME=ZARUBA 4
SERVER_4_RCON_HOST=
SERVER_4_RCON_PORT=7776
SERVER_4_RCON_PASSWORD=
SERVER_4_RCON_TLS=false
